# Ignore everything by default
/*

# Except these directories (and everything inside them)
!/.agents/
!/.claude-plugin/
!.gitignore
!docs
!workspaces
!plugins
!tests
!AGENTS.md
!README.md
!CHANGELOG.md
!package.json
